<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reward Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Stay on this page to claim your reward!</h1>
        <iframe src="https://www.cpmrevenuegate.com/hxv08ej4?key=a39d37b5b1a2cb10ec2ef8a07684bffc"></iframe>
        <p>You will be redirected back to the main page in 2 minutes.</p>
        <script>
            setTimeout(function(){
                window.location.href = "{{ url_for('claim_reward') }}";
            }, 120000); // Redirect after 2 minutes
        </script>
    </div>
</body>
</html>
